<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BannerScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA1126981CA2D59200A61180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA1126B11CA2D59200A61180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA1126BC1CA2D59300A61180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
